@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --ash-color: #d3d3d3;
}

.flex  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--primary-color);
}

#main-section > div {
  background-image: url(../images/suleymaniye-mosque.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
}

#main-section > div > div {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}

nav {
  height: 70px;
  padding: 15px 25px;
}

.menu {
  width: 30px;

}

.hamburger {
  width: 100%;
  height: 5px;
  margin: 2px 0;
  background-color: var(--primary-color);
}

.menu:hover {
  cursor: pointer;
}

.nav-list {
  position: absolute;
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 60px 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#close {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  list-style: none;
  border-radius: 50%;
}

#close:hover {
  background-color: var(--secondary-color);
  transition: 0.7s;
  cursor: pointer;
  color: #fff;
}

.nav-list li {
  padding: 15px;
  border-bottom: 1px solid var(--secondary-color);
  list-style: none;
}

.nav-list li a:hover {
  color: var(--ash-color);
}

.nav-list li:last-child {
  border-bottom: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

#showcase {
  padding-bottom: 70px;
  text-align: left;
  width: 90%;
  margin: auto;
}

h1 {
  background-image: url(../images/mosques.webp);
  background-repeat: repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  /* text-align: left; */
}

#showcase > p {
  color: var(--secondary-color);
}

#showcase .description{
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--primary-color);
  padding: 15px;
  border: 3px solid #fff;
  width: 100%;
  margin: 20px 0;
}

#stock {
  background-color: var(--primary-color);
  text-align: center;
  padding: 30px 0;
}

#stock > ul {
  width: 90%;
  margin: 20px;
}

#stock li {
  display: grid;
  grid-template-columns: 20% 30% 45%;
  justify-content: space-between;
  width: 100%;
  padding: 30px 10px;
  background-color: rgb(73, 72, 72);
  margin-bottom: 20px;
  text-align: left;
}

#stock ul li i {
  font-size: 35px;
  color: #fff;
}
hr {
  width: 30px;
  background-color: var(--secondary-color);
  height: 1px;
  margin: 5px auto 0 auto;
  border: none;
}

#stock img {
  width: 80px;
  height: 60px;
}

#stock p,
#stock h3 {
  color: #fff;
}

#stock .title {
  color: var(--secondary-color);
}

#stock .description {
  font-size: 12px;
  line-height: 1.5;
}

#stock .btn {
  padding: 20px;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
}

#cart {
  margin: 30px 0;
}

#cart .btn {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 15px;
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid var(--ash-color);
  color: var(--primary-color);
}

#cart .bi-chevron-down::before {
  color: var(--secondary-color);
  font-weight: 700 !important;
}